@charset "UTF-8";

@-ms-viewport { width: device-width; zoom: 1.0; }
@-o-viewport { width: device-width; zoom: 1.0; }
@viewport { width: device-width; zoom: 1.0; }

::selection {
  color: #fff;
  background: #7746E8;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: #7746E8;
  text-shadow: none;
}

a{
  color: #7746E8;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

a:hover{
  color: #AA90E8;
}

html{
  background: #fcfcfc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQYV2N8//79f0FBQUYGAoCgApj+UYV4Q5Lo4AEAZ/MECwJr8gcAAAAASUVORK5CYII=) fixed;
  color: #2f2f2f;
  font-family: Merriweather, sans-serif;
  line-height: 1.4;
  border-bottom: 1em solid #7746E8;
  -webkit-font-smoothing: antialiased;
}

body{
  padding: 2em 5%;
  margin: auto;
  max-width: 34em;
}

body:before{
  content: '\03A3';
  display: block;
  font-size: 280px;
  text-shadow: 8px 8px 0 #7746E8;
  text-align: center;
}

h1, .headline{
  margin: 0;
}

.headline{
  font-weight: bold;
}

h2{
  margin-top: 2em;
}

ul{
  list-style-type: square;
}

@media (min-width: 37.5em) {
  p, ul{
    font-size: 1.15em;
  }
}