@charset "UTF-8";

/*
  brand colors
  purple: #7746E8;
  black: #2f2f2f;
*/

@-ms-viewport { width: device-width; zoom: 1.0; }
@-o-viewport { width: device-width; zoom: 1.0; }
@viewport { width: device-width; zoom: 1.0; }

::selection {
  color: #fff;
  background: #7746E8;
  text-shadow: none;
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot#iefix') format('embedded-opentype'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;
}

.icon-github-squared:before { content: '\e800'; }
.icon-facebook-squared:before { content: '\e801'; }
.icon-linkedin-squared:before { content: '\e802'; }
.icon-twitter-squared:before { content: '\e803'; }

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

a{
  color: #7746E8;
  font-weight: 700;
  -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out;
}

a:hover{

}

a:visited{

}

.button{
  background: #7746E8;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  line-height: 1.8;
  padding: 0 1em;
  text-decoration: none;
}

.button:hover{
  background: #2f2f2f;
}

html{
  background: #fcfcfc;
  color: #2f2f2f;
  font-family: sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

body{
  margin: 0;
}

body:before{
  content: '\03A3';
  display: block;
  font-size: 140px;
  margin-top: 0.25em;
  text-shadow: 4px 4px 0 #7746E8;
  text-align: center;
}

/*
 * Index
 */

.title, .subtitle, .headline{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.title, .subtitle{
  line-height: 1;
}

.title{
  font-size: 2.5em;
}

.title, .headline{
  margin: 0;
}

.subtitle{
  font-size: 2em;
  margin: 1.5em 0 0;
}

.subtitle small{
  font-size: 0.5em;
}

.subtitle + p{
  margin-top: 0;
}

.intro, .subtitle_centered{
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4%;
}

.call-to-action{
  text-align: center;
  font-size: 1.75em;
  margin-top: 2em;
}

.call-to-action .button{
  font-size: 0.9em;
}

.social-media{
  position: absolute;
  left: 1em;
  right: 1em;
  top: 0;
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.social-media li{
  display: inline-block;
  width: 19%;
}

.icon{
  text-decoration: none;
  font-size: 2em;
}

.icon:hover{
  color: #2f2f2f;
}

.work-list{
  list-style: none;
  padding: 0;
  margin: 1em 0;
  overflow: hidden;
}

.work-list--item{
  position: relative;
  height: 0;
  padding-bottom: 80%;
}

.work-list--link{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Montserrat, sans-serif;
  display: block;
  padding-left: 1em;
  padding-top: 2em;
  color: #fff;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 8px rgba(0,0,0,.3);
}

.work-list--link:hover{
  opacity: 0.8;
}

.work-list--link_spda{
  background-image: url(../work/spda/bg.jpg);
}

.work-list--link_unificado{
  background: #4c2b6e url(../work/unificado/pattern.png) repeat;
}

.work-list--link_paqueta{
  color: #2f2f2f;
  background: #fff url(../work/paqueta/bg.jpg) no-repeat center top;
  background-size: 100% 4px;
  text-shadow: none;
}

.work-list--link_aragana{
  background: #a9b2b9 url(../work/aragana/bg.png) no-repeat center;
}

.work-list--agency{
  display: block;
  font-size: 0.8em;
}

@media (min-width: 32em) {
  .work-list--item{
    float: left;
    width: 50%;
    padding-bottom: 30%;
  }
}

@media (min-width: 37.5em) {
  body:before{
    font-size: 280px;
    margin-top: 0;
    text-shadow: 8px 8px 0 #7746E8;
  }

  p, ul{
    font-size: 1.15em;
  }

  .social-media{
    left: auto;
  }

  .social-media li{
    width: auto;
  }

  .call-to-action{
    font-size: 2em;
  }

  .call-to-action .button{
    font-size: 1em;
  }
}

@media (min-width: 48em) {
  .work-list--item{
    width: 25%;
    padding-bottom: 15%;
  }
}