<footer>
    <ul class="social-media">
        <li class="social-media__item">
            <a href="http://br.linkedin.com/pub/eric-quanz/15/6a3/126/" class="social-media__link">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40.002"><path d="M37 0H3C1.2 0 0 1.3 0 3v34c0 1.7 1.3 3 3 3h34c1.7 0 3-1.3 3-3V3c0-1.7-1.3-3-3-3zM12 34H6V15h6v19zM9 12.5C7 12.5 5.5 11 5.5 9S7 5.4 9 5.4c1.8 0 3.3 1.5 3.3 3.4s-1.5 3.4-3.4 3.4zM34 34h-5.8v-9c0-2.2 0-5-3-5-3.2 0-3.7 2.4-3.7 4.8V34h-6V15h5.8v2.6c.8-1.5 2.8-3 5.7-3 6 0 7 4 7 9V34z" fill="#FFF"/></svg>

              <span class="u-sr">Linkedin</span>
            </a>
        </li>
        <li class="social-media__item">
            <a href="http://facebook.com/ericorruption" class="social-media__link">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M37.8 0H2.2C1 0 0 1 0 2.2v35.6C0 39 1 40 2.2 40h19.2V24.5h-5.2v-6h5.2V14c0-5 3-8 7.7-8 2.3 0 4.2.2 4.8.3v5.4h-3.2c-2.5 0-3 1.2-3 3v3.8h6l-.8 6h-5.2V40h10.2c1.2 0 2.2-1 2.2-2.2V2.2C40 1 39 0 37.8 0z" fill="#FFF"/></svg>

              <span class="u-sr">Facebook</span>
            </a>
        </li>
        <li class="social-media__item">
            <a href="http://twitter.com/ericorruption" class="social-media__link">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 29.256"><path d="M36 3.5c-1.3.6-2.7 1-4.2 1 1.5-.8 2.7-2.2 3.2-4-1.4 1-3 1.5-4.7 1.8C29 1 27 0 25 0c-4.2 0-7.5 3.3-7.5 7.4 0 .6 0 1 .2 1.7C11.7 9 6 6 2.5 1.5c-.6 1-1 2.3-1 3.7 0 2.6 1.3 5 3.3 6.2-1.2 0-2.4-.4-3.4-1v.2c0 3.6 2.6 6.5 6 7.2-.6.2-1.3.3-2 .3L4 17.7c1 3 3.7 5 7 5C8.3 25 5 26 1.7 26H0c3.3 2 7.2 3.3 11.3 3.3 13.6 0 21-11.3 21-21v-1C33.8 6.3 35 5 36 3.5z" fill="#FFF"/></svg>

              <span class="u-sr">Twitter</span>
            </a>
        </li>
        <li class="social-media__item">
            <a href="http://github.com/ericorruption" class="social-media__link">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 39.013"><path d="M20 0C9 0 0 9 0 20c0 8.8 5.7 16.3 13.7 19 1 .2 1.3-.5 1.3-1v-3.4C9.5 35.8 8.3 32 8.3 32c-1-2.4-2.2-3-2.2-3-1.8-1.2.2-1.2.2-1.2 2 0 3 2 3 2 1.8 3 4.7 2.2 6 1.7 0-1.3.6-2.2 1.2-2.7-4.5-.5-9.2-2.2-9.2-9.8 0-2.2.8-4 2-5.4 0-.5-.8-2.6.3-5.3 0 0 1.7-.5 5.5 2 1.6-.4 3.3-.6 5-.6 1.7 0 3.4.2 5 .6 3.8-2.5 5.5-2 5.5-2 1 2.7.4 4.8.2 5.3 1.3 1.4 2 3.2 2 5.4 0 7.6-4.6 9.3-9 9.8.6.6 1.3 2 1.3 3.7V38c0 .5.3 1.2 1.3 1 8-2.7 13.7-10.2 13.7-19C40 9 31 0 20 0z" fill-rule="evenodd" clip-rule="evenodd" fill="#FFF"/></svg>

              <span class="u-sr">Github</span>
            </a>
        </li>
    </ul>
</footer>

<script>
WebFontConfig = {
  google: {
    families: ['Martel+Sans:400,700']
  }
};

(function(d) {
  var wf = d.createElement('script'), s = d.scripts[0];
  wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
  s.parentNode.insertBefore(wf, s);
})(document);
</script>
