<head>
    <meta name="theme-color" content="#7746e8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:image" content="{{ '/img/facebook.png' | prepend: site.url }}" />

  {% capture styles %}
    {% include styles.scss %}
  {% endcapture %}
  <style>
    {{ styles | scssify }}
  </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <link rel="apple-touch-icon-precomposed" href="{{ "/favicon-152.png" | prepend: site.baseurl }}">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
