<header class="main-header">
  <div class="main-header__content">
    <a href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="80"
        height="80"
        viewBox="0 0 175 175"
      >
        <path
          fill="#7746e8"
          d="M41.4 153.3h95.8v-23H78l41-41-39.4-40h56v-23H43.8V45l42.5 41-45 47.2V153z"
        />
        <path
          fill="#FEFEFE"
          d="M33.4 146h96v-23.3H70.2l41.3-41.3L71.7 41H128V18H36v20l42.7 41.5L33.4 126v20z"
        />
      </svg>
      <span class="u-sr">Go home</span>
    </a>
  </div>
</header>
