/* https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme */
:root {
  color-scheme: light dark;
  --page-color: #fafaf9;
  --ink-color: #252d20;
  --highlight-color: #9efadb;
  --spacing: 1.25rem;
  --negative-spacing: -1.25rem;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* html {
  color-scheme: light;

  --page-color: white;
  --ink-color: black;
  --highlight-color: red;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --page-color: black;
    --ink-color: white;
    --highlight-color: pink;
  }
}

html {
  accent-color: var(--highlight-color);
} */

body {
  margin: 0;
  background-color: var(--page-color);
  color: var(--ink-color);
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-family: "Atkinson Hyperlegible", sans-serif; */
	margin: auto;
	/* padding: var(--spacing); */
	max-width: 65ch;
	word-wrap: break-word;
	overflow-wrap: break-word;
  font-size: 1.125rem;
  /* TODO validate this font size works ok on different screen sizes */
	line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

/* If I decide to do sticky footer */
/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

/* From twitter bootstrap */
.visuallyhidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* h2 {
    margin: 0.5em 0;
  } */

a {

  color: #038157;
}

h1 {
  /* TODO consider normalize.css */
  /* font-size: 2em; */
  line-height: 1.1;
  font-size: 3rem;
  margin: 0 0 var(--spacing);
  padding: var(--spacing);
}

@media (max-width: 47.99em) {
  h1 {
    margin: 0 var(--negative-spacing) var(--spacing);
    background-color: var(--highlight-color);
    text-shadow: 0 0 1px #038157 , 1px 2px 0 #038157;
    color: #fff;
  }
}

@media (min-width: 48em) {
  h1 {
    padding-left: 0;
    padding-right: 0;
  }
}

p {
  margin-top: 0;
}


/* TODO componentize? */
main {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

hr {
  border: none;
  border-top: 1px solid #efefef;
  margin: var(--spacing);
}
