/* https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme */
:root {
  color-scheme: light dark;
  --page-color: #fff6ef;
  --ink-color: #252d20;
  --highlight-color: #038157;
  --spacing: 1.25em;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* html {
  color-scheme: light;

  --page-color: white;
  --ink-color: black;
  --highlight-color: red;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --page-color: black;
    --ink-color: white;
    --highlight-color: pink;
  }
}

html {
  accent-color: var(--highlight-color);
} */

body {
  margin: 0;

  background-color: var(--page-color);
  background-image: linear-gradient(to bottom, #fbf8f3, var(--page-color));
  color: var(--ink-color);
}

html {
	/* font-family: Verdana, sans-serif; */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: auto;
	padding: var(--spacing);
	max-width: 65ch;
	word-wrap: break-word;
	overflow-wrap: break-word;
  font-size: 1.125rem;
  /* TODO validate this font size works ok on different screen sizes */
	line-height: 1.4;
}

/* If I decide to do sticky footer */
/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

/* From twitter bootstrap */
.visuallyhidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* h2 {
    margin: 0.5em 0;
  } */

  a {
    color: var(--highlight-color);
  }

  h1 {
    /* TODO consider normalize.css */
    font-size: 2em;
    margin-top: 0;
  }
