$black: #2f2f2f;
$brand-primary: #7746e8;

$text-color: $black;
$link-color: $brand-primary;

$font-family-primary: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont,
  "Segoe UI", sans-serif;
