.index main {
  margin: auto;
  max-width: 100em;
}

.o-section + .o-section {
  margin-top: 3.5em;

  @media (min-width: 37.5em) {
    margin-top: 8em;
  }
}

.o-content-block {
  max-width: 52em;
  padding: 0 5%;
}

.project-block {
  padding: 0 5%;
}

.c-hero {
  padding: 0 5%;
}

.o-h1--index {
  margin-bottom: 0;
}

.o-headline {
  margin: 0;
}

@media (min-width: 56em) {
  .c-hero {
    display: flex;
    align-items: center;
  }

  .o-headline {
    font-size: 1.75em;
  }
}
