---
import { setTitle } from "../config";
import Layout from "../layouts/Layout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title={setTitle("Blog")} description="Posts about technology">
  <style>
    ul {
      list-style-type: none;
      padding: unset;
    }

    li {
      display: flex;
      margin-bottom: var(--spacing-small);
      flex-direction: column-reverse;
    }

    time {
      font-style: italic;
    }

    @media (min-width: 48em) {
      li {
        flex-direction: row;
      }

      time {
        flex: 0 0 130px;
      }
    }
  </style>

  <main>
    <h1>Blog</h1>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <time datetime={post.frontmatter.pubDate}>
                {new Date(post.frontmatter.pubDate).toLocaleDateString(
                  "en-us",
                  {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  }
                )}
              </time>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
