---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section>
      <h1 class="visuallyhidden">{SITE_TITLE}</h1>
      <p>
        Hi there, I'm Eric! I'm a software engineer with a graphic design
        background.
      </p>
      <p>
        I love building <span aria-hidden="true">✨</span>
        <em>things</em>
        <span aria-hidden="true">✨</span>
        on the web.
      </p>
      <p>
        I like simple software, and as little code as possible to get things
        done.
      </p>
      <p><a href="/about">Read more about me</a></p>
    </section>
    <section>
      <!-- Pull github shit here? -->
    </section>
    <section>
      <!-- <h2>Latest from the blog</h2> -->
      <!-- Latest post -->
    </section>

    <!-- TODO widget that says "Talk to me about xxx" where XXX changes -->
  </main>
  <aside>
    <model-viewer
      src="assets/img/coral.glb"
      alt="Millepora alcicornis"
      poster="assets/img/coral-poster.png"
      shadow-intensity="1"
      camera-orbit="93.46deg 92.18deg 1.175m"
      field-of-view="30deg"
      camera-controls
      auto-rotate
    />
    <noscript>
      <img src="assets/img/coral-poster.png" src="assets/img/coral.glb" />
    </noscript>

    <!-- <p>
      <a
        href="https://3d.si.edu/object/3d/millepora-alcicornis:92c491e7-d31d-403d-b091-316d45dfbc2c"
        >Millepora alcicornis</a
      > provided by the Smithsonian Digitization Programs Office
    </p> -->
  </aside>
</Layout>

<!-- REFERENCES: https://thinkdobecreate.com/ -->
<!-- https://www.cassie.codes -->

<style>
  aside {
    background-color: var(--highlight-color);
    align-content: center;
  }

  /* aside p {
    margin: 0;
    padding: var(--spacing);
  } */

  model-viewer {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (max-width: 47.99em) {
    body {
      display: grid;
      grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    }

    main {
      padding-top: var(--spacing);
    }

    aside {
      grid-area: aside;
    }
  }

  @media (min-width: 48em) {
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    aside {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: var(--first-col-width);
    }

    model-viewer {
      height: 100%;
    }
  }

  /* TODO even larger screens */
</style>

<script>
  import "@google/model-viewer";
</script>
