---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section>
      <h1 class="visuallyhidden">{SITE_TITLE}</h1>
      <p>
        Hi there, I'm Eric! I'm a software engineer with a graphic design
        background.
      </p>
      <p>
        I love building <span aria-hidden="true">✨</span>
        <em>things</em>
        <span aria-hidden="true">✨</span>
        on the web.
      </p>
      <p>
        I like simple software, and as little code as possible to get things
        done.
      </p>

      <!-- <p>
        I enjoy gravitating around the front-end, in the intersection between
      </p> -->
      <!-- interactive, clicky clicky, typey typey -->

      <p><a href="/about">Read more about me</a></p>
    </section>
    <section>
      <!-- Pull github shit here? -->
    </section>
    <section>
      <!-- <h2>Latest from the blog</h2> -->
      <!-- Latest post -->
    </section>
  </main>
  <aside>
    <!-- Tech cloud (marquee) -->
  </aside>
</Layout>

<!-- REFERENCES: https://thinkdobecreate.com/ -->
<!-- https://www.cassie.codes -->
