.o-btn {
  cursor: pointer;
  background: $link-color;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  line-height: 2;
  padding: 0 1em;
  text-decoration: none;
  box-shadow: 0 5px 0 darken($link-color, 10%);
  font-size: 1.5rem;
  font-weight: bold;
  transition: all .2s ease-out;

  &:hover{
    background: darken($link-color, 5%);
    box-shadow: 0 5px 0 darken($link-color, 15%);
  }

  &:active {
    transform: translateY(5px);
    box-shadow: none;
  }
}

.o-btn--lg {
  @media (min-width: 37.5em) {
    font-size: 2rem;
  }
}
