@-ms-viewport { width: device-width; zoom: 1.0; }
@-o-viewport { width: device-width; zoom: 1.0; }
@viewport { width: device-width; zoom: 1.0; }

::selection {
  color: #fff;
  background: $link-color;
  text-shadow: none;
}

* {
  box-sizing: border-box;
}

svg {
  max-width: 100%;
}

a,
button,
input,
textarea {
  outline-color: $brand-primary;
}

a{
  color: $link-color;
  font-weight: 700;
  transition: all .2s ease-out;
}

html{
  background: $bg-color;
  color: $text-color;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

html,
button,
input,
textarea {
  font-family: $font-family-fallback;
}

.wf-active {
  &,
  button,
  input,
  textarea {
    font-family: $font-family-primary;
  }
}


html {
  background: $brand-primary;
}

body{
  margin: 0;
  background: #fff;
}
