.o-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #aaa;
  margin-bottom: 1.4em;
  padding: .5em;
  background: #fafafa;
  transition: all .2s ease-out;
  font-size: 1.15em;

  &--full {
    width: 100%;
  }

  &:focus {
    outline: none;
    border-bottom-color: $brand-primary;
  }
}

textarea.o-input {
  resize: vertical;
  min-height: 8em;
}

.o-label {
  cursor: pointer;
}
