h1, .o-h1,
h2, .o-h2 {
  line-height: 1;
  text-align: center;
  margin: 0;
}

h1, .o-h1 {
  line-height: 0.8;
  font-size: 4em;

  @media (min-width: 37.5em) {
    font-size: 8em;
  }
}

h2, .o-h2 {
  font-size: 3em;

  @media (min-width: 37.5em) {
    font-size: 4em;
  }
}

p {
  line-height: 1.5;
}

@media (min-width: 37.5em) {
  p, ul{
    font-size: 1.15em;
  }
}
