h1, .o-h1,
h2, .o-h2,
h3, .o-h3 {
  line-height: 1;
  margin: 0;
}

h1, .o-h1 {
  font-size: 4em;
  line-height: 1.1;

  @media (min-width: 37.5em) {
    font-size: 5em;
  }
}

h2, .o-h2 {
  font-size: 3em;

  &:before {
    content: '// '
  }

  @media (min-width: 37.5em) {
    font-size: 4em;
  }
}

h3, .o-h3 {
  font-size: 2em;

  @media (min-width: 37.5em) {
    font-size: 3em;
  }
}

p {
  line-height: 1.5;
}

@media (min-width: 37.5em) {
  p, ul{
    font-size: 1.25em;
  }
}

abbr {
  font-weight: bold;
  border-bottom: 1px dotted;
}
