---
import HeaderLink from "./HeaderLink.astro";
// import NotThemeToggle from "./NotThemeToggle.astro";
---

<header>
  <nav>
    <!-- TODO turn home link into logo -->
    <HeaderLink href="/">Home</HeaderLink>

    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>

    <!-- <HeaderLink href="/now">Now</HeaderLink> -->
    <!-- <HeaderLink href="/uses">Uses</HeaderLink> -->

    <!-- Resume? -->
  </nav>

  <!-- <NotThemeToggle /> -->
</header>
<style>
  header {
    padding: var(--spacing);
  }

  a + a {
    margin-left: 1rem;
  }

  @media (max-width: 47.99em) {
    header {
      background-color: var(--highlight-color);
    }
  }
</style>
