---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    text-decoration: none;
    display: inline-flex; /* To account for white space */
  }

  @media (max-width: 47.99em) {
    a {
      color: var(--ink-color);
    }
  }

  a:hover {
    text-decoration: underline;
  }

  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
