---
import HeaderLink from "./HeaderLink.astro";
// import NotThemeToggle from "./NotThemeToggle.astro";
// import XRay from "./XRay.astro";
---

<header>
  <nav>
    <!-- TODO turn home link into logo -->
    <HeaderLink href="/">Home</HeaderLink>

    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>

    <!-- <HeaderLink href="/now">Now</HeaderLink> -->
    <!-- <HeaderLink href="/uses">Uses</HeaderLink> -->

    <!-- Resume? -->
  </nav>

  <!-- <XRay /> -->
  <!-- <NotThemeToggle /> -->
</header>
<style>
  header {
    padding-bottom: 1.25em;
    grid-area: header;
    align-self: flex-end;
  }

  a + a {
    margin-left: 1rem;
  }
</style>
