.button{
  background: $link-color;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  line-height: 1.8;
  padding: 0.15em 1em 0;
  text-decoration: none;

  &:hover{
    background: darken($link-color, 15%);
  }
}

.call-to-action{
  text-align: center;
  font-size: 1.75em;
}

.call-to-action .button{
  font-size: 0.9em;
}

@media (min-width: 37.5em) {
  .call-to-action{
    font-size: 2em;
    margin-top: 3em;
  }

  .call-to-action .button{
    font-size: 1em;
    margin-left: 0.5em;
  }
}