.c-avatar {
  margin: auto;
  display: block;
  max-width: 120px;
  border-radius: 120px;
  margin-bottom: 2.5em;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);

  @media (min-width: 48em) {
    float: left;
    margin-right: 2.5em;
  }
}
