.c-avatar {
  background-color: #e5e2d5;
  display: block;
  max-width: 75%;
  border-radius: 100%;
  margin-bottom: 2.5em;
  // box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);

  @media (min-width: 30em) {
    max-width: 300px;
  }

  @media (min-width: 56em) {
    margin-left: auto;
    margin-right: auto;
    margin-right: 2.5em;
  }
}
