.main-header {
  margin-bottom: 3.5em;
  position: sticky;
  top: 0;

  @media (min-width: 37.5em) {
    margin-bottom: 8em;
  }

  .index & {
    visibility: hidden;
    margin-bottom: 0;
  }
}

.main-header__content {
  display: inline-block;
  padding: 1em 4em 4em 0.5em;

  background: radial-gradient(
    circle at left top,
    #fff 40%,
    rgba(255, 255, 255, 0) 70%
  );
}
