.main-header {
  background: $brand-primary;
  margin-bottom: 4em;
  padding: 2em 0;

  @media (min-width: 32em) {
    padding-top: 6em;
  }

  @media (min-width: 48em) {
    padding-top: 12em;
  }
}

.symbol {
  max-width: 80px;
  display: inline-block;
  vertical-align: middle;

  @media (min-width: 32em) {
    max-width: 140px;
  }
}
