.o-h1--index {
  margin-bottom: 0;
}

.o-headline {
  margin: 0;
}

@media (min-width: 37.5em) {
  .o-headline {
    font-size: 1.75em;
  }
}

.index {
  @media (min-width: 68em) {
    background: #fff url(../img/symbol.svg) no-repeat 110% 100%;
    background-size: 40% auto;
  }

  @media (min-width: 84em) {
    background-position: 110% 105%;
    background-size: auto 800px;
  }

}
