.post-title {
  text-align: center;
  margin-bottom: 1em;
}

.post-content {
  max-width: 64em;
  padding: 0 2%;
  margin: auto;

  ul {
    padding-left: 0;
  }

  h2, h3 {
    * + & {
      margin-top: 1em;
    }
  }
}
