.call-to-action{
  text-align: center;
  font-size: 1.75em;

  strong {
    display: block;
  }

  .o-btn{
     margin-bottom: 0.5em;
   }
}

@media (min-width: 37.5em) {
  .call-to-action{
    font-size: 2em;
  }
}
