.social-media {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0) 85%
  );
  margin: 0;
  list-style: none;
  text-align: center;
  padding: 2em 0 1.75em;
}

.social-media__item {
  display: inline-block;
  vertical-align: middle;
  width: 19%;
}

.social-media__link {
  display: block;
  margin: auto;
  max-width: 30px;

  &:hover {
    path {
      animation: 1s rainbow;
      fill: $brand-primary;
    }
  }
}

@media (min-width: 37.5em) {
  .social-media__item {
    width: 40px;
    margin: 0 2em;
  }

  .social-media__link {
    max-width: 40px;
  }
}

@keyframes rainbow {
  0% {
    fill: white;
  }

  10% {
    fill: #ff4136;
  }

  20% {
    fill: #ff851b;
  }

  40% {
    fill: #ffdc00;
  }

  60% {
    fill: #2ecc40;
  }

  80% {
    fill: #0074d9;
  }

  100% {
    fill: $brand-primary;
  }
}
