.work-list {
  list-style: none;
  padding: 0;
  margin: 1em 0 4em;
  overflow: hidden;
}

.work-list__item{
  position: relative;
  height: 0;
  padding-bottom: 60%;
}

.work-list__link{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  color: #fff;
  text-decoration: none;

  &--velocitygrowth {
    background-color: #9bb839;
  }

  &--china-brasil-futebol {
    background-color: #ffdc00;
    background-image: linear-gradient(45deg, #ffdc00, #d6000f);
  }

  &--piccadilly {
    background-color: #f68787;
  }

  &--guaibacar {
    background-color: #3aaedf;
  }

  &--uniritter{
    background-color: #931B1D;
  }

  &--static-boilerplate {
    background-color: $brand-primary;
  }
}

.work-list__text {
  position: absolute;
  bottom: 10%;
  left: 7.5%;
  right: 7.5%;
}

@media (min-width: 26em) {
  .work-list__item {
    float: left;
    width: 50%;
    padding-bottom: 30%;
  }
}

@media (min-width: 48em) {
  .work-list__item {
    width: 33.33%;
    padding-bottom: 20%;
  }
}

@media (min-width: 64em) {
  .work-list {
    margin: 1em auto 6em;
    overflow: auto;
  }

  .work-list__link {
    float: none;
    transition: all .15s ease-out;
    overflow: hidden;
  }
}
