.work-list {
  list-style: none;
  padding: 0;
  margin: 1em 0 4em;
  max-width: 80em;
  display: grid;
  grid-gap: 1em;
  gap: 1em;

  @media (min-width: 64em) {
    margin: 1em auto 6em;
  }

  @media (min-width: 30em) {
    grid-template-columns: repeat(2, 50%);
  }

  @media (min-width: 70em) {
    grid-template-columns: repeat(3, 33%);
  }
}

.work-list__item {
  position: relative;
  padding-bottom: 60%;
  border-radius: 5px;
  box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.2);
}

.work-list__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  color: #fff;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #fff;
  }

  @media (min-width: 64em) {
    float: none;
    transition: all 0.15s ease-out;
    overflow: hidden;
  }
}

.work-list__link--velocitygrowth {
  background-color: #9bb839;
}

.work-list__link--china-brasil-futebol {
  background-color: #ffdc00;
  background-image: linear-gradient(45deg, #ffdc00, #d6000f);
}

.work-list__link--piccadilly {
  background-color: #f68787;
}

.work-list__link--happycar {
  background-color: #fd6e3d;
  background-image: linear-gradient(#007dbe, #0067b3);
}

.work-list__link--uniritter {
  background-color: #931b1d;
}

.work-list__link--claimsforce {
  background-color: #7055fa;
}

.work-list__text {
  position: absolute;
  bottom: 10%;
  left: 7.5%;
  right: 7.5%;
}
