@-ms-viewport { width: device-width; zoom: 1.0; }
@-o-viewport { width: device-width; zoom: 1.0; }
@viewport { width: device-width; zoom: 1.0; }

::selection {
  color: #fff;
  background: $link-color;
  text-shadow: none;
}

.screen-reader-text {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

svg {
  max-width: 100%;
}

a{
  color: $link-color;
  font-weight: 700;
  transition: all .2s ease-out;
}

html{
  background: $bg-color;
  color: $text-color;
  font-family: $font-family-fallback;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;

  &.wf-active {
    font-family: $font-family-primary;
  }
}

body{
  margin: 0;
}

@media (min-width: 37.5em) {
  p, ul{
    font-size: 1.15em;
  }
}

.content-block {
  max-width: 42em;
  margin: auto;
  padding: 0 5%;
}
