---
// import "@fontsource/atkinson-hyperlegible";
// import "@fontsource/atkinson-hyperlegible/700.css";

import {ViewTransitions} from 'astro:transitions';
import type { Props as HeadProps } from "../components/Head.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props extends HeadProps {}

const props = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head {...props} />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
